.about_main_img {
    width: 100%;
    position: relative;
}
.about_main_img figure{
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 39.5%;
    background: #F3F5FF;
    margin: 0;
}
.about_img_text{
    font-size: 13px;
    line-height: 26px;
    text-align: center;
}
.about_img_text span{
    color: var(--black);
}
.page_about_text .tr_image_rght{
    padding-top: 40px;
}
.about_section_bg{
    background: #f9faff;
}
.section_about_bottom_text{
    max-width: 924px;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    margin: 0px auto;
    padding-top: 38px;
}
.section_about_bottom_text p{
    margin: 0px;
}
.text_height .about_bottom{
    margin-top: 10px!important;
}


.about_img_text{
    max-width: 896px;
    margin: 0px auto;
    padding-top: 24px;
    padding-bottom: 40px;
}

.info_text_block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info_text_block .bold_title{
    margin-bottom: 24px;
    display: inline-block;
}
.info_text_block > div:first-child {
    margin-right: 32px;
}
.info_text_block .text {
    max-width: 549px;
    width: 100%;
    font-size: 13px;
    line-height: 26px;
}
.info_text_block .image {
    max-width: 430px;
    width: 100%;
}

.info_text_block-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_text_block-2 > .image_block {
    max-width: 430px;
    width: 100%;
    position: relative;
}
.info_text_block-2 > .image_block > figure {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    background: #E6E9F8;
    margin: 0;
    overflow: hidden;
}
.info_text_block-2 > div:first-child {
    margin-right: 32px;
}
.info_text_block-2 > .text_block {
    max-width: 617px;
}
.info_text_block-2 > .text_block > .text {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 24px;
}
.info_text_block-2 > .text_block > h1.title {
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 8px;
    max-width: 549px;
}
.info_text_block-2 > .text_block > .btn_row {
    display: flex;
    align-items: center;
}
.info_text_block-2 > .text_block > .btn_row > .play_inline {
    display: inline-flex;
    max-width: fit-content;
    margin-left: 16px;
}

.info_text_section {
    padding: 60px 0;
}
.info_text_section.border_top {
    border-top: 1px solid #E6E9F8;
}

.social_section {
    padding: 20px 0;
}

.news_block_section {
    padding: 40px 0 30px 0;
}
.news_block_section.last {
    padding-bottom: 60px;
}

h4.other_news_title {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 16px;
}

/* .medium-container {
    max-width: 1128px;
    margin: 0 auto;
} */

@media (max-width: 768px) {
    .about_img_text{
        padding-top: 16px;
        padding-bottom: 32px;
        font-size: 12px;
        line-height: 19px;
    }

    .info_text_block-2 > .text_block > h1.title {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 8px;
    }
    h4.other_news_title {
        font-size: 24px;
        line-height: 26px;
    }
    .info_text_block .bold_title {
        margin-bottom: 16px;
    }

    .info_text_block, .info_text_block-2 {
        flex-flow: wrap;
        justify-content: center;
    }
    .info_text_block.photo_right, .info_text_block-2.photo_right {
        flex-flow: wrap-reverse;
    }
    .info_text_block > .text, .info_text_block-2 > .text_block {
        width: 100%;
        max-width: none;
    }
    .info_text_block > div:first-child, .info_text_block-2 > div:first-child {
        margin-right: 0;
    }
    .info_text_block:not(.photo_right) > div:first-child, .info_text_block-2:not(.photo_right) > div:first-child {
        margin-bottom: 16px;
    }
    .info_text_block.photo_right > div:last-child, .info_text_block-2.photo_right > div:last-child {
        margin-bottom: 16px;
    } 

    .info_text_section {
        padding: 20px 0;
    }

    .news_block_section {
        padding: 20px 0;
    }
    .news_block_section.last {
        padding-bottom: 40px;
    }
    .news_block_section.last.no_button {
        padding-bottom: 20px;
    }
}