.brand_main_text h2{
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 10px;
}
.brand_main_text p{
    font-size: 13px;
    line-height: 28px;
}
.history_img{
    text-align: center;
}
.history_info .more_block.toggle_on:not(.show){
    max-height: 400px;
}
.ceo_wrap{
    background: #F3F5FF;
    border-radius: 4px;
}
.ceo_wrap img{
    border-radius: 50%;
}
.ceo_wrap .row{
    align-items: center;
}
.ceo_wrap p{
    padding-right: 40px;
}
.brand_ab_section_bg{
    background: #f9faff;
}
.brand_ab_section_gr{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9faff+0,ffffff+100 */
    background: rgb(249,250,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,250,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,250,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,250,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9faff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.container_br_service{
    padding-top: 40px;
}
.card_br_service{
    text-align: center;
}
.card_br_service .ico_wrapper{
    background: #FFFFFF;
    width: 198px;
    height: 198px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.card_br_service .ico_wrapper .ico_bg{
    background: var(--mainGreen);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_br_service .ico_wrapper .ico_bg img{
    max-width: 78px;
}
.card_br_service p{
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 280px;
    margin: 0px auto;
}
.brand_alert{
    background: var(--mainGreen);
    color: #FFFFFF;
    font-family: "FuturaMediumC";
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
}
.brand_alert p{
    margin: 0px auto;
    max-width: 465px;

}
@media (min-width: 994px) {
    .br_title{
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 25px;
    }
    .history_info h4{
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .history_img{
        text-align: center;
    }
    .brand_alert{
        margin-bottom: 37px;
        padding: 30px 50px;
    }
    .ceo_wrap{
        padding: 40px 39px;
    }
}
@media (max-width: 993px) {
    .ceo_wrap{
        padding: 15px;
    }
    .ceo_image{
        padding-bottom: 20px;
        text-align: center;
    }
    .history_img{
        display: none;
    }
    .brand_ab_section .brand_image{
        margin-bottom: 30px;
    }
    .history_info h4,
    .br_title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .brand_alert{
        margin-bottom: 20px;
        padding: 20px;
    }
    .brand_section_prod .product_card{
        margin-bottom: 0px;
    }
    .col-lg-4:not(:last-child) .card_br_service{
        margin-bottom: 30px;
    }
}

/* .medium-container-2 {
    max-width: 1012px;
    margin: 0 auto;
}
.medium-container-3 {
    max-width: 896px;
    margin: 0 auto;
} */

.image_table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    margin: -16px;
    margin-bottom: 8px;
}
.image_table > .image {
    position: relative;
    margin: 16px;
}
.image_table > .image > figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    background: #F3F5FF;
}
.image_table > .image.image_type-1 > figure {
    padding-bottom: 75%;
}
.image_table > .image.image_type-2 > figure {
    padding-bottom: calc((100% - 32px) / 100 * 37.5);
}
.image_table > .image.image_type-1 {
    width: calc(100% / 3 - 32px);
}
.image_table > .image.image_type-2 {
    width: calc((100% / 3) * 2 - 32px);
}

p {
    font-size: 13px;
    line-height: 26px;
}

.text_block p:not(:last-child) {
    margin-bottom: 30px;
}

h4.text_title {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 16px;
}

.quote_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quote_block > .image {
    max-width: 200px;
    width: 100%;
    position: relative;
    margin-right: 30px;
}
.quote_block > .image > figure {
    position: relative;
    background: #F3F5FF;
    border-radius: 50%;
    padding-bottom: 100%;
    margin: 0;
}
.quote_block > .text {
    font-size: 13px;
    line-height: 26px;
    max-width: 605px;
}

.brand_block_section.quote {
    margin: 60px 0;
    padding: 40px 0;
}
.brand_block_section {
    padding: 40px 0;
}
.brand_block_section-2 {
    padding-bottom: 40px;
} 

.assurance_ico_list {
    display: flex;
    align-items: flex-start;
    margin: 0 -16px;
}
.assurance_ico_list > .itm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
}
.assurance_ico_list > .itm > .ico {
    width: 100%;
    max-width: 140px;
}
.assurance_ico_list > .itm > .ico > figure {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F3F5FF;
    margin: 0;
}
.assurance_ico_list > .itm > .ico > figure > picture {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
    background: #07BB38;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.assurance_ico_list > .itm .text {
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}

.text_banner {
    width: 100%;
    border: 1px solid #07BB38;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 24px;
}
.text_banner > figure {
    width: 100%;
    padding-bottom: 14%;
    margin: 0;
    position: relative;
    background: #F9FAFF;
    overflow: hidden;
}
.text_banner > figure > .text_box {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 26px;
    font-family: 'FuturaMediumC';
    text-align: center;
}

.brand_news_block_section {
    padding: 30px 0 40px 0;
}
.brand_news_block_section.last {
    padding-bottom: 60px;
}
.brand_news_block_section .title_row {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    h4.text_title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    .text_block p:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .image_table {
        margin: -4px;
        margin-bottom: 12px;
    }
    .image_table > .image {
        margin: 4px;
    }
    .image_table > .image.image_type-1 {
        width: calc(100% / 3 - 8px);
    }
    .image_table > .image.image_type-2 {
        width: calc(100% / 3 * 2 - 8px);
    }
    .image_table > .image.image_type-2 > figure {
        padding-bottom: calc((100% - 16px) / 100 * 37.5);
    }

    .quote_block {
        flex-flow: wrap;
    }
    .quote_block > .text {
        max-width: none;
        text-align: center;
    }
    .quote_block > .image {
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .assurance_ico_list {
        flex-flow: wrap;
    }
    .assurance_ico_list > .itm:not(:last-child) {
        margin-bottom: 16px;
    }
    .assurance_ico_list > .itm .text {
        margin-top: 8px;
    }

    .text_banner {
        margin-bottom: 16px;
    }
    .text_banner > figure {
        padding-bottom: 40%;
    }
    .text_banner > figure > .text_box {
        font-size: 18px;
        line-height: 22px;
    }

    .brand_block_section.quote {
        padding: 20px 0;
        margin: 20px 0;
    }
    .brand_block_section-2 {
        padding-bottom: 20px;
    }
    .brand_block_section {
        padding: 20px 0;
    }
    .brand_news_block_section {
        padding: 20px 0;
    }
    .brand_news_block_section.last {
        padding-bottom: 40px;
    }
}