.main_contact{
    position: relative;
    overflow: hidden;
}
.page_title_fix{
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;  
}
.main_contact .contact_row{
    height: 100%;
    margin: 0px;
}
.main_contact .contact_col{
    height: 100%;
    padding: 0px;
}
.contact_menu{
    background: #0f131c;
    height: 100%;
    padding: 32px 26px;
    color: #ffffff;
}
.contact_map{
    width: 100%;
    overflow: hidden!important;
    position: relative;
    z-index: 5!important;
}
.col_cnt_info{
    position: relative;
    z-index: 40;
}
.contact_menu .row_address{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-family: "FuturaDemiC";
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}
.contact_menu .row_address i{
    margin-right: 10px;
    font-size: 17px;
    color: var(--red);
}
.contact_menu .row_desc{
    font-size: 12px;
    line-height: 24px;
}
.contact_menu .row_info{
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--gray2);
}
.contact_menu .row_info li{
    padding: 22px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact_menu .row_info li:not(:last-child){
    border-bottom: 0.5px solid #252831;
}
.contact_menu .row_info li i{
    margin-right: 10px;
    color: var(--mainGreen);
    font-size: 17px;
}
.dil_wrap .btn{
    padding: .675rem .85rem .575rem .85rem;
    text-transform: initial;
    letter-spacing: 0.05em;
}
.leaflet-popup-content-wrapper{
    border-radius: 2px;
}
.leaflet-popup-content{
    margin: 13px 10px;
}
.dil_wrap label{
    font-size: 12px;
    line-height: 14px;
    font-family: "FuturaDemiC";
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: var(--gray2);
}
.dil_wrap .city_list{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 14px;
    font-family: "FuturaBookC Regular";
    color: #ffffff;
}
.dil_wrap .city_list:not(:last-child){
    margin-bottom: 19px;
}
.dil_wrap .city_list li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}
.dil_wrap .city_list li span{
    border-bottom: 1px solid transparent;
}
.dil_wrap .city_list li:hover,
.dil_wrap .city_list li.active{
    color: var(--red);
}
.dil_wrap .city_list li.active span{
    border-color: var(--red);
}
.dil_wrap .city_list li span{
    cursor: pointer;
}
.dil_wrap .city_list li:not(:last-child)::after{
    content: "";
    background: #53545A;
    width: 2px;
    height: 2px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}
@media (min-width: 1401px) {
    .col_cnt_map{
        -ms-flex: 0 0 78%;
        flex: 0 0 78%;
        max-width: 78%;
    }
    .col_cnt_info{
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
    }
}
@media (max-width: 1400px) {
    .col_cnt_map{
        -ms-flex: 0 0 76%;
        flex: 0 0 76%;
        max-width: 76%;
    }
    .col_cnt_info{
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }
}
@media (max-width: 1300px) {
    .col_cnt_map{
        -ms-flex: 0 0 73%;
        flex: 0 0 73%;
        max-width: 73%;
    }
    .col_cnt_info{
        -ms-flex: 0 0 23%;
        flex: 0 0 27%;
        max-width: 27%;
    }
}
@media (max-width: 1100px) {
    .col_cnt_map{
        -ms-flex: 0 0 71%;
        flex: 0 0 71%;
        max-width: 71%;
    }
    .col_cnt_info{
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
        max-width: 29%;
    }
}
@media (min-width: 994px) {
    .contact_map{
        height: 100%;
    }
    .main_contact{
        height: 700px;
    }
    .dil_wrap{
        padding-top: 30px;
    }
    .contact_menu .row_desc{
        margin-bottom: 15px;
        max-width: 300px;
    }
}
@media (max-width: 993px) {
    .contact_menu .row_desc{
        margin-bottom: 5px;
    }
    .dil_wrap{
        padding-top: 10px;
    }
    .col_cnt_map{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col_cnt_info{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact_map{
        height: 300px;
    }
}