
@font-face {font-family: "FuturaDemiC";
    src: url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.eot"); /* IE9*/
    src: url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.woff2") format("woff2"), /* chrome、firefox */
    url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.woff") format("woff"), /* chrome、firefox */
    url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../webfonts/06b73c421b7c269c7a0cb40df0daba21.svg#FuturaDemiC") format("svg"); /* iOS 4.1- */
  }
  @font-face {font-family: "FuturaBookC Regular";
    src: url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.eot"); /* IE9*/
    src: url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.woff2") format("woff2"), /* chrome、firefox */
    url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.woff") format("woff"), /* chrome、firefox */
    url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../webfonts/180a810d159c3c0f5754bf6e072e6efa.svg#FuturaBookC Regular") format("svg"); /* iOS 4.1- */
  }
  @font-face {font-family: "FuturaMediumC";
    src: url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.eot"); /* IE9*/
    src: url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.woff2") format("woff2"), /* chrome、firefox */
    url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.woff") format("woff"), /* chrome、firefox */
    url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../webfonts/0120f0c0f7e7bdbf57b58d1dd11be1dc.svg#FuturaMediumC") format("svg"); /* iOS 4.1- */
  }
  /*ICO FONTS*/
  @font-face {
    font-family: 'icomoon';
    src:  url('../webfonts/icomoon.eot?fog8t1');
    src:  url('../webfonts/icomoon.eot?fog8t1#iefix') format('embedded-opentype'),
      url('../webfonts/icomoon.ttf?fog8t1') format('truetype'),
      url('../webfonts/icomoon.woff?fog8t1') format('woff'),
      url('../webfonts/icomoon.svg?fog8t1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
  .icon-ar_back:before {
    content: "\e900";
  }
  .icon-ar_back2:before {
    content: "\e901";
  }
  .icon-ar_bottom:before {
    content: "\e902";
  }
  .icon-ar_next:before {
    content: "\e903";
  }
  .icon-ar_next2:before {
    content: "\e904";
  }
  .icon-ar_up:before {
    content: "\e905";
  }
  .icon-bookmark:before {
    content: "\e906";
  }
  .icon-cart:before {
    content: "\e907";
  }
  .icon-circle_check:before {
    content: "\e908";
  }
  .icon-clock:before {
    content: "\e909";
  }
  .icon-close:before {
    content: "\e90a";
  }
  .icon-delivery:before {
    content: "\e90b";
  }
  .icon-facebook:before {
    content: "\e90c";
  }
  .icon-faq:before {
    content: "\e90d";
  }
  .icon-grid:before {
    content: "\e90e";
  }
  .icon-instagram:before {
    content: "\e90f";
  }
  .icon-list:before {
    content: "\e910";
  }
  .icon-loader:before {
    content: "\e911";
  }
  .icon-location:before {
    content: "\e912";
  }
  .icon-mail:before {
    content: "\e913";
  }
  .icon-menu:before {
    content: "\e914";
  }
  .icon-metro:before {
    content: "\e915";
  }
  .icon-money:before {
    content: "\e916";
  }
  .icon-new_time:before {
    content: "\e917";
  }
  .icon-operator:before {
    content: "\e918";
  }
  .icon-play:before {
    content: "\e919";
  }
  .icon-plus:before {
    content: "\e91a";
  }
  .icon-right-arrow3:before {
    content: "\e91b";
  }
  .icon-ruble:before {
    content: "\e91c";
  }
  .icon-search_white:before {
    content: "\e91d";
  }
  .icon-shield:before {
    content: "\e91e";
  }
  .icon-star_stroke:before {
    content: "\e91f";
  }
  .icon-star:before {
    content: "\e920";
  }
  .icon-user:before {
    content: "\e921";
  }
  .icon-vk:before {
    content: "\e922";
  }
  .icon-youtube:before {
    content: "\e923";
  }