.mobile_menu{
    position: fixed;
    top: 0;
    z-index: 999;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    display: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.menu_top {
    background-color: #010304;
    padding: 14px 24px 8px 24px;
}
.menu_bottom {
    padding: 6px 24px 20px 24px;
}
.mobile_menu .menu_block:not(:last-child){
    margin-bottom: 15.5px;
}
.mobile_menu_dym .close_mobile{
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
    font-size: 12.5px;
    padding: 3px;
    color: #fff;
}
.mobile_menu_dym .close_mobile:hover {
    color: var(--mainGreen);
}
div.open{
    display: block;
}
.mobile_menu_dym.open{
    display: block;
}
.mobile_menu .mobile_menu_list_black {
    font-family: "FuturaMediumC";
    font-size: 18px;
}
.mobile_menu .mobile_menu_list_black li {
    list-style: none;
}
.mobile_menu .mobile_menu_list_black li a {
    color: #fff;
    display: block;
    padding: 16px 0px;
    font-size: 14px;
    line-height: 17px;
}
.mobile_menu .mobile_menu_list_black li a:focus,
.mobile_menu .mobile_menu_list_black li a:hover,
.mobile_menu .mobile_menu_list_black li a.active{
    color: #FF3B6A;
}
.mobile_menu .mobile_menu_list_black li:not(:last-child){
    border-bottom: 1px solid hsla(230, 56%, 94%, 0.25);
}
.mobile_menu .mobile_menu_list{
    font-family: "FuturaMediumC";
    font-size: 18px;
}
.mobile_menu .mobile_menu_list li{
    list-style: none;
}
.mobile_menu .mobile_menu_list li a{
    color: var(--linkBlack);
    display: block;
    padding: 15.5px 0px;
    font-size: 14px;
    line-height: 120%;
}
.mobile_menu .mobile_menu_list li a:focus,
.mobile_menu .mobile_menu_list li a:hover,
.mobile_menu .mobile_menu_list li a.active{
    color: var(--textRed);
}
.mobile_menu .mobile_menu_list li:not(:last-child){
    border-bottom: 1px solid var(--borderColor7);
}
.mobile_menu .mobile_phone{
    font-family: "FuturaMediumC";
    position: relative;
    padding-right: 40px;
    display: inline-block;
}
.mobile_menu .mobile_phone::before {
    content: "";
    border-radius: 50%;
    border: 1px solid var(--gray1);
    top: 50%;
    margin-top: -9px;
    right: 10px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    position: absolute;
}
.mobile_menu .mobile_phone::after {
    position: absolute;
    color: var(--gray1);
    content: "\e90d";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    right: 9px;
    top: 50%;
    margin-top: -10px;
}
.mobile_menu .mobile_phone a{
    color: var(--linkBlack);
    display: block;
    font-size: 14px;
}
.mobile_menu .mobile_phone .itm:not(:last-child){
    margin-bottom: 8px;
}  
.mobile_menu .user_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  
.mobile_menu .user_links .item{
    display: flex;
    align-items: center;
    font-family: "FuturaMediumC";
}
.mobile_menu .user_links .item a{
    color: #fff;
}
.mobile_menu .user_links .user_buttom{
    display: flex;
    align-items: center;
}
.mobile_menu .user_links .user_buttom label{
    margin-bottom: 0px;
    max-width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mobile_menu .user_links .user_buttom > span{
    margin-right: 6px;
}
.mobile_menu .user_links .header_ico_link i{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 4px;
}
.mobile_menu .user_links .header_ico_link span{
    font-size: 14px;
}
.mobile_menu .user_links .header_ico_link{
    padding: 7px 6px;
    line-height: 120%;
}
.mobile_menu .user_links .user_buttom > span.user_av{
    border: 0px;
}

.menu_top .header_search {
    margin-bottom: 6px;
}
.menu_top .search_btn {
    min-width: 56px;
}


.mobile_expand_menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: #fff;
    display: none;
    padding: 0 24px;
}
.mobile_expand_menu ul {
    padding: 0;
}
.mobile_expand_menu ul > li:first-child {
    color: var(--textRed);
    padding: 16px 0 6px 0;
    font-size: 14px;
    line-height: 17px;
    max-width: 85%;
    border-bottom: none!important;
}
.mobile_expand_menu .btn_back {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    cursor: pointer;
    color: var(--mainGreen);
    margin-top: 12px;
}
.mobile_expand_menu .btn_back .image {
    margin-right: 10px;
}

@media (min-width: 1281px) {
    .mobile_menu_dym,
    .mobile_menu{
        display: none!important;
    }
}