.product_table{
    color: var(--black);
}
.product_table th{
    font-size: 11px;
    line-height: 30px;
    color: var(--black4);
}
.product_table th.name{
    width: 38%;
}
.product_table .th_price{
    width: 10%;
}
.product_table .th_count{
    width: 45%;
}
.product_table .num{
    width: 6%;
}
.product_table .price .old{
    font-size: 12px;
    line-height: 14px;
    color: var(--gray5);
    margin-bottom: 6px;
}
.product_table .price .old span{
    text-decoration-line: line-through;
}
.product_table .price .current{
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
}
.product_table td,
.product_table th{
    vertical-align: middle;
}
.product_table .card_count{
    margin-right: 8px;
}
.product_table .card_count .input_dym{
    max-width: 69px;
    min-width: 69px;
    text-align: center;
    border: 0.5px solid var(--borderColor2);
    border-radius: 2px;
    font-size: 12px;
    height: 30px;
    font-family: "FuturaBookC Regular";
    background-color: var(--mainBg);
    padding: 0.3rem;
    width: 100%;
    color: var(--gray5);
    margin: 0px 1px;
}
.product_table .card_count .input_dym strong{
    font-family: "FuturaDemiC";
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}
.table.product_table a.name{
    font-family: "FuturaMediumC";
    margin-bottom: 5px;
}
.product_table .add_btn,
.product_table .card_count .btn{
    width: 30px;
    /* padding: .175rem .15rem .1rem .15rem; */
    max-height: 30px;
}
.product_table .add_btn{
    font-size: 14px;
}
.table.product_table td{
    padding: 15px 10px;
    border: 0.5px solid #CFCFCF;
    border-color: #CFCFCF;
}
.table.product_table th{
    padding: 22px 0 12px;
    background: #F9FAFF;
    font-size: 16px;
    line-height: 16px;
    font-family: 'FuturaBookC Regular';
    color: #020611;
}
.table.product_table thead th{
    vertical-align: middle;
    font-weight: normal;
    /* font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}
.table.product_table .tabel_center{
    text-align: center;
}
.table.product_table{
    margin-bottom: 32px;
    border-collapse: separate;
    border-spacing: 0 2px;
    border: 0px;
    border-radius: 2px;
    /* font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}
.table.product_table .sku{
    font-size: 12px;
    line-height: 100%;
    color: var(--gray1);
    margin-top: 2px;
}
.table.product_table .sku span{
    padding-left: 5px;
    color: var(--titleColor);
    font-family: "FuturaMediumC";
}
.table.product_table strong{
    font-family: "FuturaDemiC";
}
.table.product_table td{
    position: relative;
}
.table_label{
    position: absolute;
    border: 2px solid var(--gray3);
    border-radius: 2px;
    width: 26px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    overflow: hidden;
    max-width: 76px;
    font-family: "FuturaDemiC";
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_label span{
    font-size: 8px;
    line-height: 7px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    display: block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.table_label.label_yellow{
    color: var(--yellow);
}
.table_label.label_red{
    color: var(--red);
}
.table_label.label_blue{
    color: var(--blue);
}
.table_label.label_purple{
    color: var(--purple);
}
.table_label.label_green{
    color: var(--mainGreen);
}
.product_tippy .label.label_green{
    background: var(--mainGreen);
}
.product_tippy .label.label_blue{
    background: var(--blue);
}
.product_tippy .label.label_yellow{
    background: var(--yellow);
}
.product_tippy .label.label_red{
    background: var(--red);
}
.product_tippy .label.label_purple{
    background: var(--purple);
}
.product_table thead{
    border-radius: 2px;
    overflow: hidden;
}
.table.product_table thead th{
    border-bottom: 1px solid #dee0e8;
    border-top: 1px solid #dee0e8;
}
.table.product_table thead th:not(:last-child){
    border-left: 0px;
    border-right: 0.5px solid #CFCFCF;
    border-color: #CFCFCF;
}
.table.product_table thead th:first-child{
    border-left: 1px solid #dee0e8;
    border-radius: 2px 0px 0px 0px;
    -webkit-border-radius: 2px 0px 0px 0px;
    -moz-border-radius: 2px 0px 0px 0px;
    -khtml-border-radius: 2px 0px 0px 0px;
}
.table.product_table thead th:last-child{
    border-right: 1px solid #dee0e8;
    border-left: 0px;
    border-radius: 0px 2px 0px 0px;
    -webkit-border-radius: 0px 2px 0px 0px;
    -moz-border-radius: 0px 2px 0px 0px;
    -khtml-border-radius: 0px 2px 0px 0px;
}
.table.product_table td:not(:last-child){
    border-right: 0px;
}
.table.product_table td:first-child{
    border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    -khtml-border-radius: 2px 0px 0px 2px;
}
.table.product_table td:last-child{
    border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -khtml-border-radius: 0px 2px 2px 0px;
}

.tippy-tooltip{
    border-radius: 2px!important;
    padding: 0px!important;
    background: #ffffff!important;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #CFCFCF;
}
.product_tippy{
    position: relative;
}
.product_tippy> img{
    max-width: 140px;
    height: auto;
}
.product_tippy .label{
    color: #ffffff;
    border-radius: 2px;
    line-height: 10px;
    padding: 5px 2px 1px 5px;

    position: absolute;
    top: -2px;
    font-family: "FuturaMediumC";
    left: -5px;
    z-index: 5;
    font-size: 10px;
}
.product_tippy .logo{
    position: absolute;
    z-index: 5;
    bottom: -4px;
    right: -5px;
}
.product_table .table_image{
    position: relative;
    overflow: hidden;
}
.product_table .table_image figure{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    background: var(--borderColor);
}
.product_table .table_image figure picture{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.product_table .table_image figure picture img{
    object-fit: cover;
    vertical-align: middle;
    -o-object-fit: cover;
}
.product_table th.image{
    width: 10%;
}
.product_table th.th_md{
    width: 13%;
}
.product_table th.th_sm{
    width: 3%;
}
.product_table.table_noborder thead th:not(:last-child){
    border-right: 0px;
}
.product_table.table_noborder tbody td:not(:first-child){
    border-left: 0px;
}
.product_table.cart_table .price .current{
    font-size: 18px;
    line-height: 21px;
}
.product_table .table_sum_price i,
.product_table.cart_table .price .current i{
    font-size: 13px;
}
.product_table.cart_table .price .old{
    margin-bottom: 4px;
}
.product_table .table_sum_price{
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
    font-family: "FuturaDemiC";
}
.product_table .table_remove{
    color: var(--black);
    cursor: pointer;
    font-size: 8px;
}
.product_table .table_remove:hover{
    color: var(--red);
}
.product_table.cart_table .name{
    max-width: 440px;
    display: inline-block;
}
.product_table.cart_table .table_line::before{
    content: "";
    background: #eeeeee;
    border-radius: 2px 0px 0px 2px;
    width: 2px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
}
.product_table.cart_table .table_line.table_line_green::before{
    background: var(--mainGreen);
}
.product_table.cart_table{
    margin-bottom: 0px;
    table-layout:fixed; 
}
.product_table.cart_table .table_hide{
    color: var(--red);
    position: absolute;
    font-size: 36px;
    top: -10px;
    right: 10px;
}
.complect_table .component_info_td{
    display: flex;
    align-items: center;
}
.complect_table .component_info_td .img{
    position: relative;
    overflow: hidden;
    padding-bottom: 15%;
    width: 100%;
    max-width: 120px;
    margin-right: 16px;
    background: #E3E3E3;
    border-radius: 2px;
}
.complect_table .component_info_td .img figure{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.complect_table .component_info_td .img figure picture{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.complect_table .component_info_td .img figure picture img{
    object-fit: cover;
    vertical-align: middle;
    -o-object-fit: cover;
}
.complect_td_name .name{
    font-size: 16px;
    line-height: 20px;
    display: block;
}
table.complect_table th{
    font-size: 12px;
}
.table.complect_table th{
    padding: 8px 24px;
}
.table.complect_table td{
    padding: 15px 24px;
}
.col_complect_table .table.complect_table .name{
    width: 75%;
}
.col_complect_table .table.complect_table .th_price{
    width: 15%;
}
.col_complect_table .table.complect_table .th_count{
    width: 10%;
}
.table.complect_table{
    margin-bottom: 23px;
}
.product_table .count_pd_2{
    padding-right: 26px;
}
table.cart_table thead th{
    font-size: 12px;
}
@media (min-width: 1201px){
    .product_table .table_image{
        width: 120px;
        height: 120px;
    }
}
@media (min-width: 994px) and (max-width: 1200px) {
    .product_table .table_image{
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 994px) {
    .product_table.cart_table .table_line{
        position: relative;
    }
    .complect_td_name .name{
        max-width: 451px;
        width: 100%!important;
    }
}
@media (max-width: 993px) {
    .product_table.cart_table thead,
    .product_table.cart_table tbody,
    .product_table.cart_table th,
    .product_table.cart_table td,
    .product_table.cart_table tr,
    .product_table.cart_table{
        display: block;
    }
    .product_table.cart_table thead{
        display: none;
    }
    .product_table .table_image{
        max-width: 160px;
        margin: 0px auto;
        padding-bottom: 40%;
    }
    .product_table.cart_table td{
        border-bottom: 0px;
        border-top: 0px;
        text-align: center;
    }
    .product_table.cart_table tr{
        border: 0.5px solid #CFCFCF;
        position: relative;
    }
    .product_table.cart_table tr:not(:last-child){
        margin-bottom: 10px;
    }
    .product_table.cart_table tr td:not(:last-child){
        padding-bottom: 6px;
    }
    .product_table.cart_table tr td:last-child{
        padding-top: 0px;
    }
    .product_table.cart_table tr td{
        position: initial;
    }
    .product_table .table_remove{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .product_table.cart_table .card_count{
        justify-content: center;
    }
}