.ront_section.section_about{
    padding-top: 48px;
}
.section_about .about_bottom{
    margin-top: 32px;
}
.section_about .about_bottom .itm:not(:last-child){
    margin-right: 30px;
}
.section_about .about_bottom.itm_sm_mr .itm:not(:last-child){
    margin-right: 32px;
}
/* .section_about .about_bottom.itm_sm_mr .itm.last{
    margin-left: 20px;
} */
.section_info_text p{
    font-size: 13px;
    line-height: 26px;
    /* letter-spacing: 0.01em; */
    color: #020611;
    font-family: 'Montserrat';
}
.section_info_text p:not(:last-child){
    margin-bottom: 32px;
}
.section_info_text{
    overflow: hidden;
}

.info_container {
    display: flex;
    padding: 25px;
}

.inf_img{
    width: 430px;
    min-width: 280px;
}
.inf_text {
    display: flex;
    max-width: 617px;
    margin-left: 77px;
    min-width: 280px;
}
.inf_img img{
    position: relative;
    z-index: 2;
    border-radius: 2px;
}
.inf_img::before{
    content: "";
    width: 315px;
    height: 231px;
    position: absolute;
    top: -70px;
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}
.inf_img.about::before{
    background: url('../image/imagebg1.png');
    left: -130px;
}
/* .inf_img.proiz::before{
    background: url('../image/imagebg3.png');
    left: -130px;
} */
/* .inf_img.training::before{
    right: -130px;
    background: url('../image/imagebg2.png');
} */
/* .inf_body_right,
.inf_body_left{
    padding-top: 24px;
} */
.section_black{
    background: var(--black3);
    color: #ffffff;
}
.section_black h2{
    color: var(--mainBg);
}
.section_black.section_info_text p{
    color: var(--mainBg);
    word-wrap: break-word;
}

/* .swiper-container {
    margin-bottom: 30px;
} */

@media (min-width: 994px) {
    .inf_body_left,
    .inf_img.about{
        padding-right: 30px;
    }
    /* .inf_img.training,
    .inf_body_right{
        margin-left: 47px;
    } */
}
@media (max-width: 993px) {
    .brand_ab_bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
    .brand_ab_bottom .itm:first-child{
        width: fit-content;
        /* margin-right: 0px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; */
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .brand_ab_bottom .itm:first-child{
        display: flex;
        justify-content: center;
        /* -ms-flex: 0 0 100%; */
        /* flex: 0 0 100%; */
        min-width: 100%;
        margin-bottom: 18px;
    }
    /* .brand_ab_bottom .itm.last{
        
    } */
    .info_container {
        flex-direction: column;
    }
    .inf_text {
        margin: 0;
        width: 100%;
    }
    .inf_img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
}
@media (max-width: 768px) {
    .info_container {
        padding: 5px;
    }
}