.category_section-1 {
    padding: 20px 0 40px 0;
}
.category_section-1.padding-type-2 {
    padding-top: 0;
}

.category_section .btn.adaptive, .category_section .btn_filter.adaptive { 
    display: none;
}

.section-40-40 {
    padding: 40px 0 40px 0;
}
.section-30-40 {
    padding: 30px 0 40px 0;
}
.section-20-40 {
    padding: 20px 0 40px 0;
}
.section-40-20 {
    padding: 40px 0 40px 0;
}
.section-20-60 {
    padding: 20px 0 60px 0;
}
.section-0-40 {
    padding: 0 0 40px 0;
}
.section-30-0 {
    padding: 30px 0 0 0;
}
.section-30-60 {
    padding: 30px 0 60px 0;
}
.section-40-60 {
    padding: 40px 0 60px 0;
}
.section-0-60 {
    padding: 0 0 60px 0;
}
.section-40-20 {
    padding: 40px 0 20px 0;
}
.section-0-20 {
    padding: 0 0 20px 0;
}

.section-30-40.last {
    padding-bottom: 60px;
}


.news_off_mb .news_card {
    margin-bottom: 0 !important;
}


.product_section-1.padding-type-2 {
    padding-bottom: 0;
}


.section-border-top {
    border-top: 1px solid #E6E9F8;
}
.section-border-bottom {
    border-bottom: 1px solid #E6E9F8;
}

.partner_logo_block {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -8px;
}
.partner_logo_block > .partner{
    width: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.partner_logo_block > .partner > figure {
    width: 80px;
    height: 24px;
    background: #E6E9F8;
    border-radius: 2px;
    margin: 0;
}


.big_brand_table {
    display: flex;
    flex-flow: wrap;
    margin: -8px -16px;
    margin-bottom: 8px;
}
.big_brand_table > .brand {
    width: calc(100% / 6 - 32px);
    margin: 8px 16px;
}
.big_brand_table > .brand > .image_brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 20px 4px 0 4px;
}
.big_brand_table > .brand > .image_brand > figure {
    width: 110px;
    height: 32px;
    border-radius: 2px;
    background: #F3F5FF;
    margin: 0;
}
.big_brand_table > .brand > .title {
    width: 100%;
    font-family: 'FuturaMediumC';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    padding: 0 4px 20px 4px;
}


.category_table_block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: -16px;
}
.category_table_block > .category {
    width: calc(100% / 6 - 32px);
    margin: 16px;
    cursor: pointer;
}
.category_table_block > .category:hover {
    color: var(--textRed);
}
.category_table_block.popular_category > .category {
    width: calc(100% / 4 - 32px);
}
.category_table_block > .category > .image_category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.category_table_block > .category > .image_category > figure {
    margin: 0;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    background: #E6E9F8;
    overflow: hidden;
    border-radius: 4px;
}
.category_table_block > .category > .name_category {
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
    text-align: center;
    font-family: 'FuturaMediumC';
}

@media (max-width: 1024px) {
    .big_brand_table > .brand {
        width: calc(100% / 4 - 32px);
    }
    .category_table_block > .category {
        width: calc(100% / 4 - 32px);
    }
}

@media (max-width: 768px) {
    .section-40-20 {
        padding: 20px 0;
    }
    .section-30-40 {
        padding: 20px 0;
    }
    .section-40-40 {
        padding: 20px 0;
    }
    .section-40-60 {
        padding: 40px 0 20px 0;
    }
    .section-40-40.last {
        padding-bottom: 40px;
    }
    .section-0-40 {
        padding-bottom: 20px;
    }
    .section-20-40 {
        padding-bottom: 20px;
    }
    .section-30-60 {
        padding: 20px 0;
    }
    .section-40-20 {
        padding: 20px 0;
    }

    .section-30-60.last {
        padding-bottom: 40px;
    }
    .section-0-40.last {
        padding-bottom: 40px;
    }
    .section-20-60.last {
        padding-bottom: 40px;
    }
    .section-30-40.last {
        padding-bottom: 40px;
    }
    .section-0-60.last {
        padding-bottom: 40px;
    }

    .category_section-1 {
        padding: 20px 0;
    }

    .category_section .btn.adaptive, .category_section .btn_filter.adaptive {
        display: block;
        margin-top: 20px;
    }


    .partner_logo_block > .partner {
        width: calc(100% / 4);
        margin-bottom: 32px;
    }
    .partner_logo_block > .partner > figure {
        height: 14px;
        width: 50px;
    }


    .big_brand_table {
        margin: 0 -5px;
    }
    .big_brand_table > .brand.adaptive {
        display: none;
    }
    .big_brand_table > .brand {
        width: calc(100% / 2 - 10px);
        margin: 0 5px;
    }
    .big_brand_table > .brand > .title {
        font-size: 12px;
        line-height: 12px;
    }

    .category_table_block {
        margin: -8px -5px;
    }
    .category_table_block > .category.adaptive {
        display: none;
    }
    .category_table_block > .category {
        width: calc(100% / 2 - 10px);
        margin: 8px 5px;
    }
    .category_table_block.popular_category > .category {
        width: calc(100% / 1 - 10px);
        margin: 8px 5px;
    }
    .category_table_block > .category > .name_category {
        font-size: 16px;
        line-height: 16px;
    }
}