.table_product_card .product_image{
    position: relative;
    border-radius: 2px;
    border: 1px solid var(--borderColor3);
    overflow: hidden;
    padding: 20px;
}
.table_product_card .gallery-top .image_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 86%;
}
.table_product_card .gallery-top .image_wrap figure {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.table_product_card .gallery-top .image_wrap figure picture {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.table_product_card .gallery-thumbs .image_wrap figure picture img,
.table_product_card .gallery-top .image_wrap figure picture img {
    object-fit: cover;
    vertical-align: middle;
    -o-object-fit: cover;
}
.table_product_card .gallery-thumbs {
    box-sizing: border-box;
    margin-top: 30px;
}
.table_product_card .gallery-thumbs .image_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    background: var(--borderColor3);
    border-radius: 2px;
}
.table_product_card .gallery-thumbs .image_wrap figure {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.table_product_card .gallery-thumbs .image_wrap figure picture {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.table_product_card > .row{
    margin: 0px;
}
.table_product_card{
    display: block;
    width: 100%;
}
.table_product_card .card_header{
    padding-bottom: 15px;
}
.table_product_card .product_starline {
    margin-bottom: 12px;
}
.table_product_card .product_starline .star_list {
    color: var(--yellow);
    font-size: 18px;
}
.table_product_card .product_starline .star_list i:not(:last-child) {
    margin-right: 7px;
}
.table_product_card .product_starline .star_count {
    color: var(--gray5);
    margin-left: 8px;
    font-size: 14px;
    line-height: 16px;
    font-family: "FuturaBookC Regular";
    margin-bottom: -5px;
}
.table_product_card .product_brand .product_brand_img {
    margin-bottom: 11px;
}
.table_product_card .product_brand .item:not(:last-child) {
    margin-bottom: 4px;
}
.table_product_card .product_brand .item {
    display: flex;
    font-size: 14px;
}
.table_product_card .product_brand .item .name {
    font-family: "FuturaBookC Regular";
    color: var(--gray1);
    margin-right: 2px;
}
.table_product_card .product_brand .item .val {
    font-family: "FuturaMediumC";
    color: var(--titleColor);
}
.table_product_card .sku_specifications label {
    font-family: "FuturaMediumC";
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--titleColor);
}
.table_product_card .sku_specifications .item:not(:last-child) {
    margin-bottom: 4px;
}
.table_product_card .sku_specifications .item {
    font-size: 14px;
}
.table_product_card .sku_specifications .item span {
    margin-right: 3px;
    color: var(--gray1);
    font-family: "FuturaBookC Regular";
}
.table_product_card .sku_specifications .item strong {
    font-family: "FuturaMediumC";
    color: var(--titleColor);
    font-weight: 500;
}
.table_product_card .card_header .name{
    font-size: 18px;
    line-height: 20px;
    max-width: 840px;
}
.table_product_card .product_price .item_price {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.table_product_card .product_price{
    display: flex;
    flex-wrap: wrap;
    max-width: 227px;
    margin-bottom: 31px;
}
.table_product_card .product_price .new_price .label {
    font-size: 14px;
    font-family: "FuturaBookC Regular";
    color: var(--black4);
}
.table_product_card .product_price .new_price .price {
    font-size: 24px;
    line-height: 26px;
    color: var(--black);
    font-family: "FuturaDemiC";
}
.table_product_card .product_price .price {
    min-height: 26px;
    display: flex;
    align-items: center;
}
.table_product_card .product_price .new_price .price i {
    font-size: 18px;
}
.table_product_card .product_price .old_price {
    padding-left: 20px;
}
.table_product_card .product_price .old_price .label {
    font-family: "FuturaBookC Regular";
    font-size: 10px;
    color: var(--gray1);
    margin-top: 5px;
}
.table_product_card .product_price .old_price .price {
    color: var(--gray5);
    font-family: "FuturaBookC Regular";
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: line-through;
}
.table_product_card .product_price .price_ekonom {
    letter-spacing: 0.01em;
    font-size: 10px;
    color: var(--mainGreen);
    padding-top: 6px;
}
.table_product_card .product_price .fluid {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.table_product_card.gallery_slider .gallery-thumbs .swiper-slide{
    width: 45px!important;
    height: 45px;
}
@media (max-width: 993px) {
    .table_product_card .col-image{
        margin-bottom: 15px;
        width: 100%;
    }
    .table_product_card .product_brand .item,
    .table_product_card .product_starline{
        justify-content: center;
    }
    .table_product_card .product_price{
        max-width: 267px;
        margin: 20px auto;
    }
    .product_table.cart_table .table_hide{
        top: 20px;
        right: 12px;
    }
    .gallery_slider .gallery-top .image_wrap{
        padding-bottom: 66%;
    }
    .product_table.cart_table .name{
        max-width: 300px;
    }
    .product_table.cart_table .sku_specifications{
        margin-top: 20px;
    }
    .table_product_card .product_image{
        padding: 18px;
    }
    .gallery_slider .gallery-top .image_wrap{
        padding-bottom: 56%;
    }
}
@media (min-width: 994px) {
    .table_product_card .col-image {
        -ms-flex: 0 0 21%;
        flex: 0 0 21%;
        max-width: 21%;
    }
    .table_product_card .col-info{
        -ms-flex: 0 0 79%;
        flex: 0 0 79%;
        max-width: 79%;
        padding-left: 32px;
    }
}
@media (min-width: 994px) and (max-width: 1200px) {
    .table_product_card .col-image {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }
    .table_product_card .col-info {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }
}